/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00A0DE;
  --ifm-color-primary-dark: #0090C7;
  --ifm-color-primary-darker: #0080B0;
  --ifm-color-primary-darkest: #00608A;
  --ifm-color-primary-light: #1AB0E8;
  --ifm-color-primary-lighter: #32BEF2;
  --ifm-color-primary-lightest: #4ED2FC;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #32BEF2;
  --ifm-color-primary-dark: #1AB0E8;
  --ifm-color-primary-darker: #00A0DE;
  --ifm-color-primary-darkest: #0080B0;
  --ifm-color-primary-light: #4ED2FC;
  --ifm-color-primary-lighter: #6ADCF6;
  --ifm-color-primary-lightest: #86E6FF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}